<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello, this is coach page</h1>
<form th:method="POST" th:action="@{/home/select/coach}" th:object="${coach}">
    <p>Type all fields to create new coach: </p>
    <label for="input1">Enter first_name of new coach:</label>
    <input type=text id="input1" th:field="*{first_name}">
    <label for="input2">Enter last_name of new coach:</label>
    <input type=text id="input2" th:field="*{last_name}">
    <label for="input3">Enter phone_number of new coach:</label>
    <input type=text id="input3" th:field="*{phone_number}">
    <label for="input4">Enter address of new coach:</label>
    <input type=text id="input4" th:field="*{address}">
    <label for="input5">Enter education of new coach:</label>
    <input type=text id="input5" th:field="*{education}">
    <label for="input6">Enter additional_education of new coach:</label>
    <input type=text id="input6" th:field="*{additional_education}">
    <button type="submit" name="button" value="insert">Insert into table</button>
    <br>
</form>

<form th:method="POST" th:action="@{/home/select/coach}" th:object="${coach}">
    <p>Type id of a row you need to edit and new fields: </p>
    <label for="input7">Enter first_name of new coach:</label>
    <input type=text id="input7" th:field="*{first_name}">
    <label for="input8">Enter last_name of new coach:</label>
    <input type=text id="input8" th:field="*{last_name}">
    <label for="input9">Enter phone_number of new coach:</label>
    <input type=text id="input9" th:field="*{phone_number}">
    <label for="input10">Enter address of new coach:</label>
    <input type=text id="input10" th:field="*{address}">
    <label for="input11">Enter education of new coach:</label>
    <input type=text id="input11" th:field="*{education}">
    <label for="input12">Enter additional_education of new coach:</label>
    <input type=text id="input12" th:field="*{additional_education}">
    <button type="submit" name="button" value="update">Insert into table</button>
    <br>
</form>

<form th:method="POST" th:action="@{/home/select/coach}" th:object="${coach}">
    <p>Type id of a row you need to delete: </p>
    <label for="input13">Id:</label>
    <input type=text id="input13" th:field="*{id_coach}">
    <button type="submit" name="button" value="delete">Delete</button>
</form>

<table>
    <tr>
        <th>ID</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>phone_number</th>
        <th>address</th>
        <th>education</th>
        <th>additional_education</th>
        <!--<th>id_human</th>-->
    </tr>
    <tr th:each="coach : ${allCoaches}">
        <td th:text="${coach.id_coach}"></td>
        <td th:text="${coach.first_name}"></td>
        <td th:text="${coach.last_name}"></td>
        <td th:text="${coach.phone_number}"></td>
        <td th:text="${coach.address}"></td>
        <td th:text="${coach.education}"></td>
        <td th:text="${coach.additional_education}"></td>
    </tr>
</table>
</body>
</html>
