<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello, this is group page</h1>
<form th:method="POST" th:action="@{/home/select/groupofhall}" th:object="${groupofhall}">
    <label for="id_coach">Enter id of the coach:</label>
    <input type=text id="id_coach" th:field="*{id_coach}">
    <label for="id_training_room">Enter id of the training_room:</label>
    <input type=text id="id_training_room" th:field="*{id_training_room}">
    <label for="id_section">Enter id of the section:</label>
    <input type=text id="id_section" th:field="*{id_section}">
    <label for="id_gym">Enter id of the gym:</label>
    <input type=text id="id_gym" th:field="*{id_gym}">
    <label for="min_acceptable_age">Enter min acceptable age:</label>
    <input type=text id="min_acceptable_age" th:field="*{min_acceptable_age}">
    <label for="max_acceptable_age">Enter max acceptable age:</label>
    <input type=text id="max_acceptable_age" th:field="*{max_acceptable_age}">
    <label for="count_of_members">Enter count of members:</label>
    <input type=text id="count_of_members" th:field="*{count_of_members}">
    <button type="submit" name="button" value="insert">Insert into table</button>
    <br>
</form>

<form th:method="POST" th:action="@{/home/select/groupofhall}" th:object="${groupofhall}">
    <p>Type id of a row you need to edit and new address: </p>
    <label for="input6">Id:</label>
    <input type=text id="input6" th:field="*{id_gym}">

    <button type="submit" name="button" value="update">Update</button>
</form>

<form th:method="POST" th:action="@{/home/select/groupofhall}" th:object="${groupofhall}">
    <p>Type id of a row you need to delete: </p>
    <label for="input8">Id:</label>
    <input type=text id="input8" th:field="*{id_group}">
    <button type="submit" name="button" value="delete">Delete</button>
</form>

<table>
    <tr>
        <th>ID</th>
        <th>address</th>
    </tr>
    <tr th:each="group : ${allGroups}">
        <td th:text="${group.id_group}"></td>
        <td th:text="${group.min_acceptable_age}"></td>
    </tr>
</table>

</body>
</html>