<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Home page</h1>
    <form th:method="GET" th:action="@{/home/select}">
        <label for="select1">Select the table you need to edit</label>
        <select th:name="selectTable" id="select1">
            <option th:each="entity : ${entities}" th:value="${entity.toString()}" th:text="${entity}"></option>
        </select>
        <button>Submit</button>
    </form>
    <p th:text="${answer}">No insert :(</p>
    <p th:text="${requestparam}">No requestparam</p>

</body>
</html>