<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello, this is sectionofmartialart page</h1>
<form th:method="POST" th:action="@{/home/select/sectionofmartialart}" th:object="${sectionofmartialart}">
    <label for="input1">Enter name of new section:</label>
    <input type=text id="input1" th:field="*{section_name}">
    <button type="submit" name="button" value="insert">Insert into table</button>
    <br>
</form>

<form th:method="POST" th:action="@{/home/select/sectionofmartialart}" th:object="${sectionofmartialart}">
    <p>Type id of a row you need to edit and new section name: </p>
    <label for="input2">Id:</label>
    <input type=text id="input2" th:field="*{id_section}">
    <label for="input3">New name:</label>
    <input type=text id="input3" th:field="*{section_name}">
    <button type="submit" name="button" value="update">Update</button>
</form>

<form th:method="POST" th:action="@{/home/select/sectionofmartialart}" th:object="${sectionofmartialart}">
    <p>Type id of a row you need to delete: </p>
    <label for="input4">Id:</label>
    <input type=text id="input4" th:field="*{id_section}">
    <button type="submit" name="button" value="delete">Delete</button>
</form>

<table>
    <tr>
        <th>ID</th>
        <th>name</th>
    </tr>
    <tr th:each="section : ${allSections}">
        <td th:text="${section.id_section}"></td>
        <td th:text="${section.section_name}"></td>
    </tr>
</table>

</body>
</html>
